<!DOCTYPE html>
<html>

<head>
    <title>Main Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <%= msg %>  <% if (path) { %><a href=<%= path %>>Try again</a>. <% } %>
</body>

</html>